<div class="dashboard-container">
  <header class="dashboard-header">
    <h1>Tableau de Bord Administrateur</h1>
    <button mat-raised-button color="warn" (click)="onLogout()">
      <mat-icon>logout</mat-icon>
      Déconnexion
    </button>
  </header>

  <mat-tab-group>
    <mat-tab label="Statistiques de la Plateforme">
      <app-platform-statistics></app-platform-statistics>
    </mat-tab>
    <mat-tab label="Gestion des Utilisateurs">
      <app-user-management></app-user-management>
    </mat-tab>
  </mat-tab-group>
</div>
